
/* Fonts & Basic */

	@font-face {
		font-family: FlamaLi;
		src: url(../assets/flama-light.otf);
	}
	@font-face {
		font-family: FlamaBl;
		src: url(../assets/flama-black.otf);
		font-weight: bolder;
	}
	@font-face {
		font-family: FlamaCn;
		src: url(../assets/flama-cond-basic.otf);
	}

	body {
		margin: 0;
		background: #000;
		color: #FFF;
		font-family: Flama, sans-serif;
		font-size: 18px;
		text-align: center;
	}
	a {
		color: yellow;
		text-decoration: none;
		cursor: pointer;
	}
	ul {
		padding: 0;
		list-style: none;
	}
	.hide {
		display: none;
	}




/* Structure */

	video {
		background: url('../assets/burger_fallback.jpg') no-repeat;
		background-size: cover;
		transition: 1s opacity;
	}



/* Content */

	header {
		margin-top: 4em;
	}
	header p {
		font-size: .825em;
		margin-top: .25em;
	}
	.new_stuff {
		font-size: 1.5em;
	}
	.stripe {
		background: yellow;
		color: black;
		font-size: 1.5em;
	}
	.stripe strong {
		display: block;
	}
	.stripe p {
		padding: .25em;
	}
	.scope, .small {
		font-size: .75em;
		text-align: left;
		padding: 0 2em;
	}
	.delivery {
		list-style: none;
	}
	.sign {
		font-family: FlamaCn;
		text-align: left;
		padding: 0 1.75em;
	}




/* Queries */
	@media(max-width:425px) {
	}
	@media screen and (max-device-width: 800px) {
	}
